<form [formGroup]="changePasswordForm" (ngSubmit)="update(changePasswordForm)">
  <h3>Change password</h3>

  <mat-form-field>
    <label>Password:</label>
    <input matInput type="password" formControlName='password'>
    <mat-error>{{validate(password)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <label>Confirm password:</label>
    <input matInput type="password" formControlName='rePassword'>
    <mat-error>{{validate(rePassword, true)}}</mat-error>
  </mat-form-field>

  <mat-error *ngIf="changePasswordForm.get('rePassword').errors?.MatchPassword">Passwords do not match.</mat-error>
  <mat-error>{{updateError}}</mat-error>

  <br>
  <button mat-raised-button color="primary" type="Submit">Change password</button>
</form>
