<mat-toolbar color="primary" role="header">
    <span>TicketSys42</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <mat-menu #appMenu="matMenu">
      <a routerLink="/login" routerLinkActive="active"><button mat-menu-item>Sign In</button></a>
        <button mat-menu-item><a routerLink="/register" routerLinkActive="active">Register</a></button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
