.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. */
    flex: 1 1 auto;
}

.nav_link {
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
}

.nav_link:hover {
  cursor: pointer;
}

.auth-buttons {
  margin-left: 5px;
  margin-right: 5px;
}

.auth-buttons p{
  margin-left: 25px;
}

