#stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


mat-card{
  color:white;
  background-color: #3f51b5b8;
  margin-bottom: 20px;
}
mat-card-subtitle{
  color:white;
}

.center{
  width: 20%;
  margin: 10px auto;
}

