mat-tab-group mat-tab{
  text-align: center;
  align-content: center;
}

.form-container {
  text-align: center;
}

.update-details-wrapper {
  text-align: center;
}

/* .tables-container {
  width: 100%;
} */

