<div class="profile-page-container">

  <div fxLayout="row wrap" fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap.xs="0" fxLayoutGap="15px" class="form-container" *ngIf="requestedUser === user.username">
    <div fxFlex="45%" class="change-password-wrapper">
      <app-change-password [requestedUser]="requestedUser"></app-change-password>
    </div>
    <div fxFlex="45%" class="update-details-wrapper">
      <app-update-user-details [requestedUser]="requestedUser"></app-update-user-details>
    </div>
  </div>

  <div *ngIf="requestedUser !== user.username">
    <app-user-details></app-user-details>

  </div>


  <div class="tables-container">
    <mat-tab-group>
      <mat-tab label="Issued tickets">
        <app-user-issued-tickets></app-user-issued-tickets>
      </mat-tab>
      <mat-tab label="Received tickets">
        <app-user-received-tickets></app-user-received-tickets>
      </mat-tab>
      <mat-tab label="My projects">
        <app-user-projects></app-user-projects>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
