<div class="company-project-container">
  <span class="addButton"><button mat-fab routerLink="/project/createProject" color="primary">+</button></span>
  <h2>Company Projects</h2>

  <div class="table-container mat-elevation-z8">
    <div *ngIf="companyProjects?.length === 0">
      <p>There are no projects for your Company yet</p>
    </div>
    <div *ngIf="companyProjects?.length > 1">
      <mat-form-field>
        <input matInput (keyup)="searchInTable($event.target.value)" placeholder="Search the table">
      </mat-form-field>
      <mat-icon>search</mat-icon>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort matSortActive="name">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let project"> {{project?.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let project">
          <a *ngIf="project.partOfProject" routerLink="/project/{{project?.title}}">{{project?.title}}</a>
          <p *ngIf="!project.partOfProject">{{project?.title}}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let project"> {{project?.description}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" *ngIf="companyProjects?.length > 10">
      </mat-paginator>
    </div>
  </div>
</div>
