<div class="project-container">
  <mat-card>
    <mat-card-content>
      <div class="critical-info" fxLayout="row" fxLayout.xs="column" >
        <div class="title" fxFlex="32%">
          <h3>Title</h3>
          <mat-card-title><h3>{{projectInfo?.title}}</h3></mat-card-title>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="description" fxFlex="32%">
          <h3>Desrcription</h3>
          <p>{{projectInfo?.description}}</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="deadline" fxFlex="32%" [appApproachingDeadline]="projectInfo?.deadline">
          <h3>Deadline</h3>
          <p>{{projectInfo?.deadline | date: "fullDate"}}</p>
        </div>
      </div>
    </mat-card-content>


    <mat-card-actions>
      <div *ngIf="userBelongs" fxFlexAlign="center" fxLayout="row" fxLayout.xs="column">
        <div class="changeOwner" fxFlex="32%">
          <form [formGroup]="changeOwnerForm" (ngSubmit)="promote(changeOwnerForm)">
            <mat-form-field *ngIf="projectInfo?.ownerId === user.sub">
              <mat-select placeholder="Employee to promote" formControlName="userToPromote">
                <div *ngFor="let projectUser of projectUsers">
                  <mat-option *ngIf="projectUser.username !== user.username" [value]="projectUser">
                    {{projectUser?.username}}
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" type="Submit" *ngIf="projectInfo?.ownerId === user.sub">Promote to owner</button>
          </form>
        </div>
        <div class="inviteUser" fxFlex="32%">
          <form [formGroup]="inviteUserForm" (ngSubmit)="invite(inviteUserForm)">
            <mat-form-field *ngIf="projectInfo?.ownerId === user.sub">
              <mat-select placeholder="Employee to invite" formControlName="userToInvite">
                <mat-option *ngFor="let user of filteredUsers" [value]="user">
                  {{user}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" type="Submit" *ngIf="projectInfo?.ownerId === user.sub">Invite to project</button>
          </form>
        </div>
        <div class="leave" fxFlex="32%">
          <button mat-raised-button color="primary" (click)="leaveProject()" [disabled]="projectInfo?.ownerId === user.sub">Leave project</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>


  <div class="project-members">
    <h3>Project members:</h3>
    <div [ngClass]="'searchFilter'" *ngIf="projectUsers?.length > 10">
      <mat-form-field>
        <input matInput (keyup)="searchTable($event.target.value)" placeholder="Search the table">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort matSortActive="id">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'idContainer'"> Id </mat-header-cell>
        <mat-cell *matCellDef="let user; let i = index" [ngClass]="'idContainer'"> {{i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'nameContainer'"> Title </mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'nameContainer'"> {{user.username}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'valueContainer'"> Description </mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'valueContainer'">
          <p *ngIf="projectInfo?.ownerId === user.id">Project owner</p>
          <p *ngIf="projectInfo?.ownerId !== user.id">Project member</p>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div [ngClass]="'tableFooter'" *ngIf="dataSource">
      <div [ngClass]="'paginator'">
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" *ngIf="projectUsers.length > 10">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
