<div>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
    <div class="form-container">
      <div>
        <input type="text" formControlName='username' (keyup)='validate($event)' placeholder="username">


        <div *ngIf="loginForm.controls['username'].touched && !loginForm.controls['username'].valid">
          <span *ngIf="loginForm.controls['username'].hasError('required') ">
            Username is required.
          </span>
        </div>

      </div>
      <div>
        <br>
        <input type="password" formControlName='password' (keyup)='validate($event)' placeholder="password">

      </div>
      <br>
      <div>
        <input type="Submit" value="Post Data">
      </div>
    </div>
  </form>
</div>
