<div>
  <form validate [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
    <div class="form-container">
      <mat-form-field>
        <input matInput type="text" formControlName='username' placeholder="username">
        <mat-error>{{validate(username)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" formControlName='password' placeholder="password">
        <mat-error>{{validate(password)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-error>{{credentialsError}}</mat-error>
      <br>
      <div>
        <input type="Submit" value="Login">
      </div>
    </div>
  </form>
</div>
