<div class="login-container">
<h3>Type in your username and password</h3>

    <form validate [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <mat-form-field>
        <input matInput type="text" formControlName='username' placeholder="username">
        <mat-error>{{validate(username)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" formControlName='password' placeholder="password">
        <mat-error>{{validate(password)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-error>{{credentialsError}}</mat-error>
     <button class="mat-raised-button" type="Submit" value="Login">LOGIN</button>
    </form>
</div>
