<div *ngIf="notifications?.length > 10">
  <mat-form-field>
    <input matInput (keyup)="searchTable($event.target.value)" placeholder="Search the table">
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="deadline">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell *matCellDef="let notification; let i = index"> {{i + 1}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let notification">
      <a routerLink="{{notification?.url}}">{{notification.title}}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
    <mat-cell *matCellDef="let notification" [appApproachingDeadline]="notification.deadline">
      {{notification.createdAt | date: "medium"}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ProjectId">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
    <mat-cell *matCellDef="let notification">
      <div *ngIf="notification.ProjectId">
        <button mat-raised-button color="primary" (click)="respond(true, notification.ProjectId, notification.id)">Accept</button>
        <button mat-raised-button color="warn" (click)="respond(false, notification.ProjectId, notification.id)">Decline</button>
      </div>
    </mat-cell>


  </ng-container>

  <ng-container matColumnDef="deleted">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
    <mat-cell *matCellDef="let notification">
      <button mat-raised-button color="warn" (click)="delete(notification.id)">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div *ngIf="dataSource">
  <div>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" *ngIf="notifications?.length > 10">
    </mat-paginator>
  </div>
</div>
