.one-comment {
  background-color: rgb(116, 235, 209);
  word-wrap: break-word;
  padding: 15px;
  margin: 20px;
  width: 60%;
  justify-content: start;
}

.comment-by {
  position: relative;
  right: 0;
  bottom: 0;
  justify-content: end;
}

.container, .comments{
  text-align: center;
  justify-content: center;
}
