<div>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
    <div class="form-container">
      <mat-form-field>
        <input matInput type="text" formControlName='username' placeholder="username">
        <mat-error>{{validate(username)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" formControlName='password' placeholder="password">
        <mat-error>{{validate(password)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" formControlName='rePassword' placeholder="confirm password">
        <mat-error>{{validate(rePassword)}}</mat-error>
      </mat-form-field>
      <mat-error *ngIf="registerForm.get('rePassword').errors?.MatchPassword">Passwords do not match.</mat-error>
      <br>
      <mat-form-field>
        <input matInput type="text" formControlName='email' placeholder="e-mail">
        <mat-error>{{validate(email)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" formControlName='nickname' placeholder="nickname - optional">
        <mat-error>{{validate(nickname)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" formControlName='firstName' placeholder="first name - optional">
        <mat-error>{{validate(firstName)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" formControlName='lastName' placeholder="Last name - optional">
        <mat-error>{{validate(lastName)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-checkbox (click)="toggleCompany()">I want to create a new company!</mat-checkbox>
      <br>
      <!-- <mat-form-field *ngIf="registerForm.get('company')"> -->
      <mat-form-field *ngIf="newCompany">
        <!-- <input *ngIf="registerForm.get('company')" matInput formControlName="company" type="text" placeholder="Company name"> -->
        <input matInput formControlName="company" type="text" placeholder="Company name">
        <mat-error>{{validate(company)}}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!newCompany">
        <mat-select placeholder="Select a company" formControlName="company">
          <mat-option *ngFor="let company of companies" [value]="company">
            {{company}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-error>{{registerError}}</mat-error>
      <br>
      <div>
        <input type="Submit" value="Register">
      </div>
    </div>
  </form>
</div>
